<h1 mat-dialog-title>
    @if (title) {
        {{ title }}
    } @else {
        {{ getCaption() }} Search
    }
</h1>
<div mat-dialog-content>
    <record-form [tableName]="tableName" [record]="editableRecord" [fields]="searchColumns" [isReadOnly]="isReadOnlyBound"></record-form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onSearch()">Search</button>
    <button mat-button (click)="onClear()">Clear</button>
    @if (canCreate()) {
        <button mat-raised-button color="accent" (click)="onAddRecord()">New Record</button>
    }
</div>
